@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sarala:wght@400;700&display=swap');

:root {
    --cor1: #FFF2E7;
    --cor2: #ECD6C4;
    --cor3: #2F2325;

    --fonte1: 'Righteous', cursive;
    --fonte2: 'Sarala', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-imagem {
    height: 72px;
}

nav {
    display: flex;
    gap: 32px;
}

nav > a {
    font-family: var(--fonte2);
    color: var(--cor1);
    font-weight: 400;
    font-size: 18px;
}

a:hover {
    background-color: var(--cor3);
    padding: 0px 10px;
    border-radius: 10px;

    transition: .4s;
}

main {
    margin-bottom: 48px;
    border-top: 0.4px solid var(--cor1);
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.conteudo-principal-escrito > h1 {
    font-family: var(--fonte1);
    font-weight: 400;
    font-size: 64px;
    color: var(--cor1);
}

.conteudo-principal-escrito > h2 {
    font-family: var(--fonte2);
    font-weight: 400;
    font-size: 24px;
    color: var(--cor1);
}

button {
    background-color: var(--cor2);

    width: 180px;
    height: 60px;

    border: none;
    border-radius: 15px;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);

    font-family: var(--fonte2);
    font-size: 24px;
    font-weight: 400;
    color: var(--cor3);
}

button:hover {
    background-color: var(--cor3);
    color: var(--cor1);
    transition: .4s;
}

.conteudo-principal-imagem {
    height: 430px;
}

.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.conteudo-secundario > h3 {
    border-top: 0.4px solid var(--cor1);
    padding-top: 48px;

    font-family: var(--fonte1);
    font-size: 24px;
    font-weight: 400;
    color: var(--cor1);
    
    margin-bottom: 1em;
}

.conteudo-secundario > p {
    font-family: var(--fonte2);
    font-weight: 100;
    font-size: 18px;
    color: var(--cor1);
}

footer {
    padding: 32px;
    border-top: 0.4px solid var(--cor1);
}

.rodape-imagem {
    height: 48px;
    display: block;
    margin: 0 auto;
}

.bodypg02 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
}

.h1pg02 {
    font-family: var(--fonte1);
    font-size: 32px;
    font-weight: 400;
    color: var(--cor1);

    margin-top: 30px;
}

